<html>
 <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    {% for control in controls %}              
      <b>{{ control.name }}</b>: 
      <form action="/addwin" method="post">
      	<input type="hidden" name="name" value={{ control.name}}>      	
        <div><input type="submit" value="Add Win"></div>
      </form>   
      <form action="/addloss" method="post">
      	<input type="hidden" name="name" value={{ control.name}}>      	
        <div><input type="submit" value="Add Loss"></div>
      </form>      
      <blockquote>Wins: {{ control.wins|escape }} </blockquote>   
      <blockquote>Losses: {{ control.losses|escape }} </blockquote>   
      {% if control.author %}
        <blockquote>Author: {{ control.author|escape }}</blockquote>
      {% endif %}              
    {% endfor %}
	
	<BR>
	<BR>
	<BR>
	<b>Add Monker</b>:
    <form action="/submit" method="post">
      Name:<div><textarea name="name" rows="1" cols="60"></textarea></div>      
      <div><input type="submit" value="Submit"></div>
    </form>

    <a href="{{ url }}">{{ url_linktext }}</a>

  </body>
</html>